<header class="sticky-top shadow-sm border">
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand fw-bold">Gatito Book</a>
      <div *ngIf="user$ | async as user">
        <div *ngIf="user.name; else login">
          <i class="fa fa-user-circle mr-1"></i>
          <a class="mr-1 ms-2">{{ user.name }}</a>
          <a class="btn btn-primary fw-bold ms-4"(click)="logout()">Logout</a>
        </div>
        <ng-template #login>
          <span class="navbar-text">
            <a class="btn btn-primary text-white fw-bold" [routerLink]="['']">Login</a>
          </span>
        </ng-template>
      </div>
    </div>

  </nav>
</header>
